/*
 * root button etc are selectors
 * 
 * 
 * https://www.youtube.com/watch?v=lVdtE2BNd88
 * 
 */



.root{
	/*-fx-background-color: linear-gradient(#404040, #202020);*/
	-fx-background-color: #303030;
	-fx-font-size: 10pt;
}
.button{
	-fx-text-fill: #ffffff;
	-fx-background-color: linear-gradient(#555555, #5a5a5a);
	-fx-background-radius: 5;
}
.button:hover{
	-fx-background-color: linear-gradient(#7a7a7a, #757575);
}

.label{
	-fx-text-fill: #ffffff;
}

.separator{
    -fx-background-color: #7a7a7a;
    -fx-background-radius: 2;
}

#tab-button{
	-fx-font-size: 30pt;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:400px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected
{
    -fx-background-color: #303030;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #303030;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: #ffffff;
}