
.root{
	-fx-background-color: linear-gradient(#3b3b3b, #282828);
	-fx-font-size: 10pt;
}
.button{
	-fx-text-fill: #ffffff;
	-fx-background-color: linear-gradient(#454545, #4f4f4f, #454545);
	-fx-background-radius: 5;
}
.label{
	-fx-text-fill: #ffffff;
	-fx-font-size: 30pt;
}